* {
  font-family: 'Arial', 'serif';
}

body {
  margin: 0;
  background-image: url("images/mountains.jpeg");
}

h1 {
  font-family: 'Francois One', sans-serif;
  margin: 0;
  padding: 20px 0 10px 0;
  color: white;
  text-align: center;
  background-color: #455573;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding: 10px;
}

#createForm {
  height: 474px;
  border: 5px solid white;
  overflow: scroll;
  margin: auto;
  width: 60%;
  padding: 10px;
  background-color: #F0F0F0;
  box-shadow: 5px 10px #e6e6e660;
  position: relative;
  top: -20px;
}

#description {
  background-color: #daaeae;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 19px;
  padding: 10px;
  border-radius: 5px;
}

#inputHolder {
  margin-top: 2%;
  font-size: 20px;
}

.required:before { 
  content:"*"; 
  color: red;
  font-size: medium;
}

input {
  position: relative;
  bottom: 2px;
  padding: 3px;
  width: 80%;
}

select {
  width: 83%;
}

#submitButton {
  position: relative;
  bottom: -250px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px 5px 10px;
}
